---

---

<section id="about" class="bg-gray-700 text-center py-8">
  <div class="container mx-auto p-10">
    <p class="text-3xl font-bold text-stone-50">Acerca de la Página</p>
    <p class="text-lg text-stone-50">
      Bienvenido a nuestra plataforma, donde puedes explorar y compartir
      contenido. Navega por publicaciones de otros usuarios y crea tus propios
      posts de manera sencilla.
    </p>

    <p class="text-lg text-stone-50 mt-4"><strong>¿Cómo Funciona?</strong></p>
    <ul class="list-disc list-inside text-left mx-auto max-w-md">
      <li class="text-stone-50">
        <strong>Explora</strong>: Descubre una variedad de publicaciones con
        títulos, contenido e imágenes.
      </li>
      <li class="text-stone-50">
        <strong>Crea</strong>: Comparte tus ideas completando un formulario
        simple con título, contenido e imagen.
      </li>
      <li class="text-stone-50">
        <strong>Conéctate</strong>: Inicia sesión o regístrate para interactuar
        y comentar en publicaciones.
      </li>
    </ul>

    <p class="text-lg text-stone-50 mt-4">
      Únete a nuestra comunidad y empieza a compartir tus historias hoy mismo.
    </p>
  </div>
  <a href="/login" class="bg-green-500 text-white py-2 px-4 mt-4"
    >Iniciar sesión</a
  >
</section>
