---

---

<section id="about" class="bg-gray-700 text-center py-8">
  <div class="container mx-auto p-10 ">
    <p class="text-3xl font-bold text-stone-50">About</p>
    <p class="text-lg text-stone-50">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aliquid,
      sapiente quisquam quae pariatur ducimus veritatis dolorem optio. Unde iste
      vel temporibus sint quae, eveniet eligendi nisi facilis odio iusto!
    </p>
  </div>
  <a href="/login" class="bg-green-500 text-white py-2 px-4 mt-4">Inicar sesion</a>
</section>
